
                <tr>
                    <td class="article-block">
                        <div class="article-meta">
                            <span class="article-category">{safe_category}</span>{date_display}
                        </div>
                        <a href="{safe_url}">
                            <h3 class="article-title">{safe_title}</h3>
                        </a>
                        <p class="article-summary">
                            <span class="tldr">TL;DR</span> {safe_summary}
                        </p>
                        <div class="read-more-container">
                            <a href="{safe_url}" class="read-more">Read More</a>
                        </div>
                    </td>
                </tr>
        