
            </table>
            
            <table class="container" width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f4f5f7;">
                <tr>
                    <td class="footer">
                        <p class="footer-text">
                            You are receiving this because you subscribed to our tech updates.<br><br>
                            <span class="footer-links">
                                <a href="{unsubscribe_url}">Manage Interests</a> | 
                                <a href="{unsubscribe_url}">Unsubscribe</a>
                            </span>
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
